.game-image {
    width: 14%;
    display: inline-block;
    max-height: 14rem;
    overflow: hidden;
    margin: 2px;
    border: 2px solid #222;
}

img {
    width: 100%;
    height: 100%;
}


/* Shine */
.hover14 figure {
	position: relative;
}

.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -120%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.hover14 figure:hover::before {
	-webkit-animation: shine .45s;
	animation: shine .45s;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/* .hover14 img:active { 
    background-color: yellow; 
}*/




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .game-image {
        margin: 5px;
        border: 4px solid #222;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .game-image {
        margin: 8px;
        border: 6px solid #222;
    }
}